# Deliverable 3. Create a Travel Itinerary Map.
----
1. Import the vacation CSV file. 
2. From the map above with pick 4 cities that are in close proximity (on the same continent) that the customer would travel to and create a directions layer map.
3. For the "travel_mode" use either "DRIVING", "BICYCLING", or "WALKING".
4. Take a screenshot of the route and save it. 
5. Then create a marker layer for the four cities. Each city will should have a pop-up marker that contains
    - The hotel name
    - The city
    - The country
    - The current weather description and the maximum temperature
---

## Make sure the initial dependencies and the Google API key are imported.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

In [2]:
# Configure gmaps
gmaps.configure(api_key=g_key)

## From your `Vacation_Search` folder from Deliverable 2, import the `WeatherPy_vacation.csv` file as a DataFrame named `vacation_df`

In [3]:
# Read the WeatherPy_vacation.csv into a DataFrame
vacation_df = pd.read_csv('../Vacation_Search/WeatherPy_vacation.csv')

# Display sample data
# YOUR CODE HERE
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Tabou,CI,76.69,few clouds,4.4230,-7.3528,hotêl doufoulougou
1,23,Mogadishu,SO,79.32,broken clouds,2.0371,45.3438,Hotel Juba
2,38,Vaini,TO,78.03,clear sky,-21.2000,-175.2000,Keleti Beach Resort
3,39,Pontianak,ID,84.18,broken clouds,-0.0333,109.3333,Aston Pontianak Hotel & Convention Center
4,41,Kavaratti,IN,82.04,broken clouds,10.5669,72.6420,Green leaf
...,...,...,...,...,...,...,...,...
156,655,Weligama,LK,83.07,broken clouds,5.9667,80.4167,Weligama Bay Resort
157,658,San Juan Nepomuceno,CO,75.69,overcast clouds,9.9516,-75.0820,HOTEL ALCAZAR DE LUCAS
158,665,Cap Malheureux,MU,77.47,scattered clouds,-19.9842,57.6142,Pereybere Hotel & Spa
159,669,Catamarca,AR,85.06,scattered clouds,-28.4696,-65.7852,Amerian Catamarca Park Hotel
160,677,Alofi,NU,80.49,overcast clouds,-19.0595,-169.9187,Taloa Heights

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [4]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## In this step, you will set-up the pop-up markers. Review the code to create a marker layer map of the vacation search results. This code is the same as in Deliverable 2.

In [5]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

## From the vacation search map, *choose four cities* that a customer might want to visit. They should be close together and in the same country.

In [9]:
vacation_start = vacation_df.loc[(vacation_df['Country']=='IN')]
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,41,Kavaratti,IN,82.04,broken clouds,10.5669,72.6420,Green leaf
40,210,Baghmara,IN,76.77,clear sky,23.7950,86.2085,Shankar tea shop
65,306,Puri,IN,79.32,clear sky,19.8000,85.8500,OYO 1577 Hotel Shree Hari Grand
75,372,Tura,IN,75.33,clear sky,25.5198,90.2201,Hotel RIKMAN Continental
90,409,Khed,IN,82.04,clear sky,17.7167,73.3833,Swagat Lodge
93,422,Port Blair,IN,81.32,overcast clouds,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
94,424,Tezu,IN,75.27,clear sky,27.9167,96.1667,Circuit House
126,547,Mormugao,IN,79.47,clear sky,15.4000,73.8000,Coconut Creek Resort

In [118]:
# Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# The starting and ending city should be the same city.
vacation_start = vacation_df.loc[(vacation_df['Country']=='IN') & (vacation_df['City']== 'Baghmara')]
vacation_end = vacation_df.loc[(vacation_df['Country']=='IN') & (vacation_df['City']== 'Baghmara')]
vacation_stop1 = vacation_df.loc[(vacation_df['Country']=='IN') & (vacation_df['City']== 'Puri')]
vacation_stop2 = vacation_df.loc[(vacation_df['Country']=='IN') & (vacation_df['City']== 'Mormugao')]
vacation_stop3 = vacation_df.loc[(vacation_df['Country']=='IN') & (vacation_df['City']== 'Khed')]

## Use the `to_numpy()` function and list indexing to write code to retrieve the latitude-longitude pairs as tuples from each city DataFrame.

In [149]:
# Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat","Lng"]]
start = list(start.itertuples(index=False, name= None))
start = start[0]

end = vacation_end[["Lat","Lng"]]
end = list(end.itertuples(index=False, name= None))
end = end[0]

stop1 = vacation_stop1[["Lat","Lng"]]
stop1 = list(stop1.itertuples(index=False, name= None))
stop1 = stop1[0]

stop2 = vacation_stop2[["Lat","Lng"]]
stop2 = list(stop2.itertuples(index=False, name= None))
stop2 = stop2[0]

stop3 = vacation_stop3[["Lat","Lng"]]
stop3 = list(stop3.itertuples(index=False, name= None))
stop3 = stop3[0]

## Use the [gmaps documentation](https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html#directions-layer) to create a directions layer map using the variables from the previous step. Where the starting and ending city are the same city, the `waypoints` are the three other cities, and the `travel_mode` is either `"DRIVING"`, `"BICYCLING"`, or `"WALKING"`.

In [155]:
# Define a new figure object
fig = gmaps.figure()


# Create a direction layer map using the start and end latitude-longitude pairs, and stop1, stop2, and stop3 as the waypoints.
# The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
#vacation_itinerary = # YOUR CODE HERE
direction = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], travel_mode='DRIVING')

# Add the layer to the map
# YOUR CODE HERE
fig.add_layer(direction)

# Display the map
# YOUR CODE HERE
fig

Figure(layout=FigureLayout(height='420px'))

## Use the provided `concat()` function code snippet to combine the four separate city DataFrames into one DataFrame.

In [156]:
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat(
    [
        vacation_start,
        vacation_stop1,
        vacation_stop2,
        vacation_stop3
    ],
    ignore_index = True
)

# Display sample data
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,210,Baghmara,IN,76.77,clear sky,23.7950,86.2085,Shankar tea shop
1,306,Puri,IN,79.32,clear sky,19.8000,85.8500,OYO 1577 Hotel Shree Hari Grand
2,547,Mormugao,IN,79.47,clear sky,15.4000,73.8000,Coconut Creek Resort
3,409,Khed,IN,82.04,clear sky,17.7167,73.3833,Swagat Lodge

## Refactor the code from Step 6 to create a new marker layer map of the cities on the travel route.

In [157]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

locations

       Lat      Lng
0  23.7950  86.2085
1  19.8000  85.8500
2  15.4000  73.8000
3  17.7167  73.3833

In [179]:
# Add a marker layer for each city to the map.
#marker_layer = # YOUR CODE HERE


marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Define a new figure object
fig = gmaps.figure(center=(20.0,80.0), zoom_level=4)

# Add the layer to the map
# YOUR CODE HERE
fig.add_layer(marker_layer)

# Display the map
# YOUR CODE HERE
fig

Figure(layout=FigureLayout(height='420px'))